!!! 5
%html
%head
	%title Permaculture
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Permaculture Database", root_path
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Pin", new_pin_path
					%li= link_to "Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
			%ul.nav.navbar-nav.navbar-search
				= form_tag(pins_path, :method => "get", id: "search-form") do
					= text_field_tag :search, params[:search], placeholder: "Search Pins"
					= submit_tag "Search"

	%col-sm-3.col-lg-2
		.container-fluid

			%nav.navbar.navbar-default.navbar-fixed-side.nav-pills.nav-stacked
				-# %ul.nav.navbar-nav.navbar-left
				-# <ul class="nav nav-pills nav-stacked collapse in" id="p1">
				-# <li data-toggle="collapse" data-parent="#p1" href="#pv1">
				-# <a class="nav-container list-group-item">Leist<div class="caret-container"><span class="caret caret-down"></span></div></a>
				-# </li>
				-# <ul class="nav nav-pills nav-stacked collapse out" id="pv1">
				-#	<li><a href="" class="list-group-item">sub1111</a></li>
				-#	<li><a href="" class="list-group-item">sub2222</a></li>
				-#	</ul>
				-#	</ul>
				%ul.nav.navbar-left.nav-pills.nav-stacked.collapse.in{:id => 'p1'}
					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow1'}
					%li{:href => "#pv1", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Soil Building", new_pin_path, {:class => 'nav-container'} #, new_pin_path
					%ul.nav.nav-stacked.collapse.out.divider{:id => 'pv1'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-star
							%a{:id => 'test', :name => 'test'} Submenu1
							-# {onclick: 'colourchanger(this);return false;'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-leaf
							%a{onclick: 'colourchanger(this);'} Submenu2

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow2'}
					%li{:href => "#pv2", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Protective", new_pin_path, {:class => 'nav-container'} #, new_pin_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv2'}
						.submenu-glyphicon-container
							%span.glyphicon.glyphicon-heart
						%li= link_to "Submenu1" #, new_pin_path
						.submenu-glyphicon-container
							%span.glyphicon.glyphicon-tint
						%li= link_to "Submenu2" #, new_pin_path

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow3'}
					%li{:href => "#pv3", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Adaptive", new_pin_path, {:class => 'nav-container'} #, new_pin_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv3'}
						%li= link_to "Submenu1" #, new_pin_path
						%li= link_to "Submenu2" #, new_pin_path

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow4'}
					%li{:href => "#pv4", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Utility", new_pin_path, {:class => 'nav-container'} #, new_pin_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv4'}
						%li= link_to "Submenu1" #, new_pin_path
						%li= link_to "Submenu2" #, new_pin_path

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow5'}
					%li{:href => "#pv5", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Wildlife", new_pin_path, {:class => 'nav-container'} #, new_pin_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv5'}
						%li= link_to "Submenu1" #, new_pin_path
						%li= link_to "Submenu2" #, new_pin_path

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow6'}
					%li{:href => "#pv6", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Cultural", new_pin_path, {:class => 'nav-container'} #, new_pin_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv6'}
						%li= link_to "Submenu1" #, new_pin_path
						%li= link_to "Submenu2" #, new_pin_path

	%col-sm-9.col-lg-10

		.container
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
			= yield
