!!! 5
%html
%head
	%title Permaculture
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Durban/KZN Plant Database", root_path
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Plant", new_plant_path
					%li= link_to "Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
			%ul.nav.navbar-nav.navbar-search
				= form_tag(plants_path, :method => "get", id: "search-form") do
					= text_field_tag :search, params[:search], placeholder: "Search Plants"
					= submit_tag "Search"

	%col-sm-3.col-lg-2
		.container-fluid

			%nav.navbar.navbar-default.navbar-fixed-side.nav-pills.nav-stacked
				-# %ul.nav.navbar-nav.navbar-left
				-# <ul class="nav nav-pills nav-stacked collapse in" id="p1">
				-# <li data-toggle="collapse" data-parent="#p1" href="#pv1">
				-# <a class="nav-container list-group-item">Leist<div class="caret-container"><span class="caret caret-down"></span></div></a>
				-# </li>
				-# <ul class="nav nav-pills nav-stacked collapse out" id="pv1">
				-#	<li><a href="" class="list-group-item">sub1111</a></li>
				-#	<li><a href="" class="list-group-item">sub2222</a></li>
				-#	</ul>
				-#	</ul>
				%ul.nav.navbar-left.nav-pills.nav-stacked.collapse.in{:id => 'p1'}
					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow1'}
					%li{:href => "#pv1", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Soil Building", new_plant_path, {:class => 'nav-container'}
					%ul.nav.nav-stacked.collapse.out.divider{:id => 'pv1'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Nitrogen fixer
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Deciduous
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Semi-deciduous
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Chop & drop

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow2'}
					%li{:href => "#pv2", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Protective", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv2'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Evergreen
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Windbreak
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Fire retardent
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Shade
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Security
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Hedge

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow3'}
					%li{:href => "#pv3", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Adaptive", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv3'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Drought tolerant
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Waterwise
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Salt tolerant
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Frost tolerant
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Waterlogging
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Wind resistant

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow4'}
					%li{:href => "#pv4", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Utility", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv4'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Edible
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Medicinal
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Useful
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Timber for furniture
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Timber for building
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Fire wood
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Fodder

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow5'}
					%li{:href => "#pv5", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Wildlife", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv5'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Bird attractor
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Butterfly host
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Beneficial insect attractor
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Apiculture
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Bat attractor

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow6'}
					%li{:href => "#pv6", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Horticultural", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv6'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Attractive flowers
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{onclick: 'colourchanger(this);'} Attractive fruit
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{onclick: 'colourchanger(this);'} Attractive foilage

	%col-sm-9.col-lg-10

		.container
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
			= yield
