!!! 5
%html
%head
	%title Permaculture
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= javascript_include_tag "jquery.dropdown", 'data-turbolinks-track' => true
	= javascript_include_tag "modernizr.custom.63321", 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Durban/KZN Plant Database", root_path
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Plant", new_plant_path
					%li= link_to "Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
			%ul.nav.navbar-nav.navbar-search
				= form_tag(plants_path, :method => "get", id: "search-form", class: "search-form") do
					.form-group.has-feedback
						%label{for: "search",class: "sr-only"} Search
						= text_field_tag :search, params[:search], placeholder: "Search Plants", class: "form-control"
						-#%button.btn.btn-default{type: "submit"}
						%span.glyphicon.glyphicon-search.form-control-feedback

	%col-sm-3.col-lg-2
		.container-fluid

			%nav.navbar.navbar-default.navbar-fixed-side.nav-pills.nav-stacked
				-# %ul.nav.navbar-nav.navbar-left
				-# <ul class="nav nav-pills nav-stacked collapse in" id="p1">
				-# <li data-toggle="collapse" data-parent="#p1" href="#pv1">
				-# <a class="nav-container list-group-item">Leist<div class="caret-container"><span class="caret caret-down"></span></div></a>
				-# </li>
				-# <ul class="nav nav-pills nav-stacked collapse out" id="pv1">
				-#	<li><a href="" class="list-group-item">sub1111</a></li>
				-#	<li><a href="" class="list-group-item">sub2222</a></li>
				-#	</ul>
				-#	</ul>
				%ul.nav.navbar-left.nav-pills.nav-stacked.collapse.in{:id => 'p1'}
					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow1'}
					%li{:id => "soil", :href => "#pv1", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Soil Building", new_plant_path, {:class => 'nav-container'}
					%ul.nav.nav-stacked.collapse.out.divider{:id => 'pv1'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							-#%a{id: "1", onclick: 'colourchanger(this,1);'} Nitrogen fixer
							-#= link_to 'Nitrogen fixer', {controller: 'plants', action: 'index', :nitrogen_fixer => 'true'},{id: "1", onclick: 'colourchanger(this,1);'}
							= link_to 'Nitrogen fixer', root_path(:nitrogen_fixer => 'true'), {id: "1", onclick: 'colourchanger(this,1);'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "2",onclick: 'colourchanger(this,2);'} Deciduous
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "3",onclick: 'colourchanger(this,3);'} Semi-deciduous
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "4",onclick: 'colourchanger(this,4);'} Chop & drop

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow2'}
					%li{:id => "protective", :href => "#pv2", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Protective", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv2'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "5",onclick: 'colourchanger(this,5);'} Evergreen
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-barcode
							%a{id: "6",onclick: 'colourchanger(this,6);'} Windbreak
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "7",onclick: 'colourchanger(this,7);'} Fire retardent
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "8",onclick: 'colourchanger(this,8);'} Shade
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "9",onclick: 'colourchanger(this,9);'} Security
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "10",onclick: 'colourchanger(this,10);'} Hedge

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow3'}
					%li{:id => "adaptive", :href => "#pv3", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Adaptive", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv3'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "11",onclick: 'colourchanger(this,11);'} Drought tolerant
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "12",onclick: 'colourchanger(this,12);'} Waterwise
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "13",onclick: 'colourchanger(this,13);'} Salt tolerant
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "14",onclick: 'colourchanger(this,14);'} Frost tolerant
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "15",onclick: 'colourchanger(this,15);'} Waterlogging
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "16",onclick: 'colourchanger(this,16);'} Wind resistant

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow4'}
					%li{:id => "utility", :href => "#pv4", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Utility", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv4'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							-#%a{id: "17",onclick: 'colourchanger(this,17);'} Edible
							-#= link_to 'Edible', {controller: 'plants', action: 'index', :edible => 'true'},{id: "17",onclick: 'colourchanger(this,17);'}
							= link_to 'Edible', root_path(:edible => 'true')
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "18",onclick: 'colourchanger(this,18);'} Medicinal
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "19",onclick: 'colourchanger(this,19);'} Useful
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "20",onclick: 'colourchanger(this,20);'} Timber for furniture
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "21",onclick: 'colourchanger(this,21);'} Timber for building
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "22",onclick: 'colourchanger(this,22);'} Fire wood
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "23",onclick: 'colourchanger(this,23);'} Fodder

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow5'}
					%li{:id => "wildlife", :href => "#pv5", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Wildlife", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv5'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "24",onclick: 'colourchanger(this,24);'} Bird attractor
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "25",onclick: 'colourchanger(this,25);'} Butterfly host
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "26",onclick: 'colourchanger(this,26);'} Beneficial insect attractor
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "27",onclick: 'colourchanger(this,27);'} Apiculture
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "28",onclick: 'colourchanger(this,28);'} Bat attractor

					.glyphicon-container
						%span.glyphicon.glyphicon-chevron-down{:id => 'arrow6'}
					%li{:id => "horticultural", :href => "#pv6", :data => {:toggle => 'collapse', :parent => '#p1'}}
						= link_to "Horticultural", new_plant_path, {:class => 'nav-container'} #, new_plant_path
					%ul.nav.nav-stacked.collapse.out{:id => 'pv6'}
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "29",onclick: 'colourchanger(this,29);'} Attractive flowers
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-cloud
							%a{id: "30",onclick: 'colourchanger(this,30);'} Attractive fruit
						%li
							.submenu-glyphicon-container
								%span.glyphicon.glyphicon-tint
							%a{id: "31",onclick: 'colourchanger(this,31);'} Attractive foilage

			%select{id: "cd-dropdown", class: "cd-select"}
				%option{value: "-1",:selected => true, id: "testspan"} Soil Building
				%option{value: "1", class: "icon-diamond"} Nitrogen fixer
				%option{value: "2", class: "icon-paintcan"} Deciduous
				%option{value: "3", class: "icon-wind"} Semi-deciduous
				%option{value: "4", class: "icon-snowy"} Chop & drop

	%col-sm-9.col-lg-10

		.container
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
			= yield
